<nav class="blue lighten-3">
<div class="nav-wrapper">
    <a href="#" class="brand-logo"><i class="material-icons">donut_small</i>Doughnut Shoppe</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
    <li><a href="/">Home</a></li>
    <li><a href="/shops">See Shoppes</a></li>
    <li><a href="/shops/new">Add Shoppe</a></li>
    </ul>
</div>
</nav>