<h1>Doughnut Shoppe</h1>

<div class="row"></div>
<div class="col s12">
        <img class="responsive-img" alt="donuts1" src="https://images.squarespace-cdn.com/content/v1/54ecf2c9e4b08fb3c1ec140c/1560357455529-SBQG3BHZ9TLVOJ7AW9RF/ke17ZwdGBToddI8pDm48kBUEu7zrGtHLwnxdefqUjTkUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKce1DH-YSWxPFsHyjYb63rFnnMSUEHq-drgFy72G9lqZySN3WBuw7GUokiuOLtUCAj/banner+%281%29.jpg">
</div>
<div class="row">
    <div class="col s4">
        <img class="responsive-img" alt="donuts1" src="https://tribwttv.files.wordpress.com/2019/06/gettyimages-936102564.jpg?quality=85&strip=all&w=770">
    </div>
    <div class="col s4">
        <img class="responsive-img" alt="donuts2" src="https://www.mix1005.fm/wp-content/uploads/2018/06/colorful-donuts.jpg">
    </div>
    <div class="col s4">
        <img class="responsive-img" alt="donuts3" src="https://d.newsweek.com/en/full/952772/6-1-iced-doughnuts.jpg">
    </div>
</div>