<h1>All Shoppes</h1>

<div class="row">
    <% shops.forEach(s => { %> 
        <div class="col s3">
            <div class="card-panel pink lighten-5">
                <a href="/shops/<%=s.id%>"><%= s.name %></a>
            </div>
        </div>
    <% }) %>
</div>